:root {
  --bg: #202331;
  --fg: #d5dcff;
  --black: #1a1b26;
  --white: #737aa2;
  --red: #f7768e;
  --green: #9ece6a;
  --yellow: #e0af68;
  --blue: #7aa2f7;
  --magenta: #bb9af7;
  --cyan: #7dcfff;

  --border: 1px solid #2f3549;
}

* {
  margin: 0;
  padding: 0;
  /* padding and border included in width and height */
  box-sizing: border-box;
}

@font-face {
  font-family: "Iosevka";
  src: url("./public/fonts/IosevkaNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  /* not italic */
  font-style: normal;
  /* ~100ms block period — renders fallback text immediately, swaps when font loads (FOUT) */
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("./public/fonts/IosevkaNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Iosevka", monospace;
}

header {
  background-color: var(--black);
  /* rem: unit relative to HTML font size */
  margin-bottom: 0.5rem;
  border-bottom: var(--border);
  padding: 0.5rem;
}

.inner-header {
  /* center current element relative to parent */
  margin-inline: auto;
  width: 80vw;
  max-width: 1200px;

  /* child elements to stack horizontally */
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo {
  height: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  width: 80vw;
  max-width: 1200px;
  margin-inline: auto;
}
